body {
  margin: 16px;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  background: #1f1e31;
  font-family: 'Brush Script MT', cursive;
}

h1 {
  margin: 100px 0 0 0;
}

svg {
  margin: 50px auto;
}

a {
  display: inline-block;
}

button {
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  padding: 12px 22px;
  border-radius: 5px;
  background: #6c63ff;
  font-family: 'Courier New', monospace;
}

button:hover,
button:active {
  background: #5c53ef;
}

button:disabled {
  opacity: 0.3;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 32px);
}

span {
  width: 80px;
  height: 80px;
  position: relative;
  display: inline-block;
}

span:after {
  width: 0;
  height: 0;
  margin: 8px;
  content: " ";
  display: block;
  border-radius: 50%;
  box-sizing: border-box;
  border: 32px solid #ffffff;
  animation: lds-hourglass 1.2s infinite;
  border-color: #ffffff transparent #ffffff transparent;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}
